html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Roboto', 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.divider {
	width: 100%;
	height: 1px;
	background: #444;
}

input {
	width: 100%;
}

.align-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.align-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}